RewriteEngine on
RewriteBase /xdaysaysay/admin/

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

#RewriteRule   ^([A-Za-z0-9-]+)/?$    ./?mode=$1 [L]
#RewriteRule   ^([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/?$    ./?mode=$1&action=$2 [L]
RewriteRule   ^([A-Za-z0-9-]+)/?([A-Za-z0-9-]+)?/?([A-Za-z0-9-]+)?/?$    ./?mode=$1&action=$2&id=$3 [L]
